[Unit]
Description=Gitea (Git with a cup of tea)
After network.target = gitea.service
Requires=mysql.service

[Service]
WorkingDirectory=/var/lib/gitea/
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/app.ini
#Environment="USER=git" 
Environment="HOME=/home/git"
Environment="GITEA_WORK_DIR=/var/lib/gitea"

[Install]
WantedBy=multi-user.target